server:
  port: 8080

spring:
  application:
    name: guideon-backend

  # Database
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  # JPA
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        default_batch_fetch_size: 100

  # Redis
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST}
      port: ${SPRING_DATA_REDIS_PORT}

# Logging
logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.web: info

# Application
app:
  init:
    admin-email: ${INIT_ADMIN_EMAIL}
    admin-password: ${INIT_ADMIN_PASSWORD}
  invite:
    expire-days: ${INVITE_EXPIRE_DAYS}

# JWT
jwt:
  secret: ${JWT_SECRET}
  access-token-validity-ms: 900000      # 15분
  refresh-token-validity-ms: 2592000000 # 30일
